<h1>Successfully Added Contact</h1>
<p>You created a contact!</p>
<ul>
  <li>Name: @Model.GetName()</li>
  <li>Address: @Model.GetAddress()</li>
  <li>Phone: @Model.GetNumber()</li>
</ul>
<a href="/view">View All Contacts</a>
