<h1>Contacts:</h1>
<hr>
<ul>
@foreach (var contact in Model)
{
  <li><a href="/view/@contact.GetName()">@contact.GetName()</a></li>
}
</ul>

<a href="/add">Add New Contact</a>
<hr>
<form action='/contacts_deleted' method='post'>
  <button type="submit">Delete All Contacts</button>
</form>
